flask
pyspark
transformers
snowflake-connector-python
scikit-learn
prometheus-flask-exporter
snowflake
spark
dotenv
numpy
pandas
snowflake-connector-python[pandas]
snowflake-sqlalchemy
authlib>=1.0
requests>=2.27.1